

    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        text-align: center;
        background-color: #4b1e1e;
    }
    header {
        background-color: rgba(228, 228, 224, 1);
        color: rgb(0, 0, 0);
        padding: 1rem;
    }
    .productos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding: 20px;
        justify-content: center;
    }
    .producto {
        background: white;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .producto img {
        max-width: 100%;
        border-radius: 5px;
    }
    .detalle-vinilo {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 20px;
    }
    .detalle-vinilo img {
        max-width: 300px;
        border-radius: 5px;
    }
    .detalle-info {
        flex: 1;
        color: white;
        font-family: 'Raleway', sans-serif;
        background-color: #333;
        padding: 0px;
        border-radius: 3px;
    }
    .detalle-info ul {
        list-style-type: none; /* Elimina los puntos */
        padding-left: 0; /* Elimina el padding por defecto */
    }

    .detalle-info ul li {
        display: block; /* Asegura que cada elemento esté en una línea nueva */
        margin-bottom: 5px; /* Espacio entre canciones (opcional) */
    }

    footer {
        margin-top: 20px;
        padding: 10px;
        background-color: #333;
        color: white;
    }