

    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        text-align: center;
        background-color: #f10606;
    }
    header {
        background-color: #333;
        color: white;
        padding: 1rem;
    }
    .productos {
        display: flex;
        justify-content: center;
        gap: 20px;
        padding: 20px;
    }
    .producto {
        background: white;
        padding: 15px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .producto img {
        max-width: 100%;
        border-radius: 5px;
    }
    footer {
        margin-top: 20px;
        padding: 10px;
        background-color: #333;
        color: white;
    }
